[2020-10-01 14:36] thenecroscope opened #1 "Error when retrieving results"
Hi,

I've just been testing out your extension but I'm not having much luck at the minute.

When  I run the get-secret command I can the following error:
**Get-SecretInfo: Unable to get secret information from vault testVault**

I'm running on powershell 7.1.0-rc.1.

I've cloned the repo and install the module fine with no issues. I'm running elevated admin also.

Everything works fine to start wi

[2020-10-01 14:59] thenecroscope commented on #1
Ah, Powershell core is not supported by the looks of things. That would explain it

[2020-10-01 14:59] #1 closed

[2020-10-01 15:12] JustinGrote commented on #1
@thenecroscope it should be supported by the latest release which uses a new .NET core library.

Unfortunately the new secretmanagement obfuscates the reason for the vault not being found, if you run `$error[0].exception` it will provide more information.

[2020-10-01 15:36] JustinGrote opened #2 "PoshKeePass module doesn't nest properly and may load user's PoshKeePass Module"

[2020-10-01 16:46] thenecroscope commented on #1
Slightly different error now, I now get:
Test-SecretVault: Unable to run Test-SecretVault on vault testVault

ErrorRecord    : Unable to run Test-SecretVault on vault testVault
TargetSite     :
StackTrace     :
Message        : Unable to run Test-SecretVault on vault testVault
Data           : {}
InnerException : System.Management.Automation.CmdletInvocationException: Exception calling ".ctor" wit

[2020-10-01 17:34] JustinGrote commented on #1
@thenecroscope no the module is "busted", I'll push a new update soon once I also fix an issue if you have two secrets with duplicate names

[2020-10-02 01:01] JustinGrote commented on #1
@thenecroscope try 0.0.4.1

[2020-10-02 06:30] stefanstranger opened #3 "Add Microsoft.PowerShell.SecretManagement Module dependency to Module Manifest"
Hi Justin,

Would it be an idea to add the Microsoft.PowerShell.SecretManagement PowerShell module to RequiredModules attribute in the Module manifest file?

Stefan

[2020-10-02 13:51] thenecroscope commented on #1
thanks Justin for the speedy responses. I'm caught up with some production issues at the minute, I will have a play with the new version later. thanks again

[2020-10-02 18:08] JustinGrote commented on #3
@stefanstranger good idea! I assumed if you were installing this module that would have been a given, but no reason not to make it explicit.

[2020-10-02 18:19] #3 closed

[2020-10-05 10:15] salbeck opened #4 "Possible issue with #requires in secretmanagement.keepass.extension.psm1"
I'm unable to register a vault using the module secretmanagement.keepass.extension, it claims that the PoshKeepass module is not loaded.
If I explicitly import the module with verbose output, I can see that PoshKeepass is indeed imported but is apparently not accepted by the #requires statement in the psm1-file. If I comment out the #requires line and add 'Import-Module -Name "$pscriptroot\..\posh

[2020-10-05 15:29] JustinGrote commented on #4
@salbeck thanks I'll take a look. I use an internal version of PoshKeePass because I had to modify it to make it work with Secret Management, I may just throw it out and go straight to the native DLLs directly :)

[2020-10-05 15:36] JustinGrote commented on #4
Fixed in d211331054bb3e66f9a3360edcb517dc347e9f38 and pushed as 0.0.4.4

[2020-10-05 15:36] #4 closed

[2020-10-06 11:30] thenecroscope commented on #1
Looking good now, thanks! I tested this last night and it seems to be working well 👍

Can I pick your brains on a slightly different question if I may. I'm trying to work out how to use a central key vault to store some API values. This is a temporary "quick" solution, not ideal I know.

If I use the keepass vault to store the APIs. I then need a mechanism to store the keepass password within my s

[2020-10-06 14:37] JustinGrote commented on #1
@thenecroscope if you're on Windows you can store the key in Credential Manager and reference that key. I plan to add some support for these noninteractive scenarios but it will be a while before I have bandwidth.

[2020-10-06 17:19] thenecroscope commented on #1
That might work actually in the interim. Thanks!

[2020-10-21 09:03] bjompen commented on #3
Hi.

It seems this causes problems when installing the module.
I assume it's because the Microsoft.PowerShell.SecretManagement is in AllowPrerelease it can't be found and Install/Save-Module fails when trying to get this module.

![image](https://user-images.githubusercontent.com/17783007/96698046-f31c4f00-138c-11eb-8a90-6c7c4e0f4dbb.png)

[2020-10-21 15:34] JustinGrote commented on #3
@bjompen thanks but I think I'm going to leave it as is for when secretmanagement leaves prerelease. I'm going to recommend the workaround for now of:

Install-Module SecretManagement.KeePass,Microsoft.Powershell.SecretManagement

[2020-10-22 06:56] bjompen commented on #3
Thats ok.
The workaround doesn't seem to work in PSGet2 either though.
Instead, I'd suggest just downloading the repo and manually placing it in the `$env:PSModulePath` (or registering from source) somewhere as a workaround.

[2021-01-14 22:33] trir262 opened #8 "Opening keepass with keyfile does not work: Composite Key is invalid although it is correct"
My environment:
* KeePass 2.43
* Powershell 7
* SecretManagement.Keepass 0.0.9.2

I found an issue when opening a keepass file with keyfile.
The private function Connect-KeePassDatabase tests a variable $KeyFile but that is not set anywhere in the function.

Example keepass & keyfile added
[dbwithkeyfile.zip](https://github.com/JustinGrote/SecretManagement.KeePass/files/5817309/dbwithkeyfile.zip)

[2021-01-14 22:39] JustinGrote commented on #8
Haven't actually tested the keyfile and usewindowsaccount fully yet, not surprised. I'll look into this.

[2021-01-14 22:46] trir262 commented on #8
got it working, was just a typo: keyfile should be keypath

[2021-01-14 22:58] JustinGrote commented on #8
@trir262 I plan to provide a Get-KeePassParams or something like that to produce an object to clearly structure the keyvault options since there's basically zero feedback.

@paulhigin another real-world user example of what I'm talking about :)

[2021-01-15 07:14] trir262 commented on #8
I would think that the VaultParameters in Register-SecretVault would need to have the necessary information, like 'MasterPassword=$true' or 'KeyFileLocation=path', no?
That way, both test-secretvault and get-secret can rely on that data to do their correct handling.

Test-SecretVault in itself can also - like you did - store a module script variable to store sensitive data like the credential pass

[2021-01-16 01:35] NJK-HOME opened #9 "Feature Request: Recycle Bin Visibility Toggle VaultParameter"
I deleted the two samples entries in a brand new KeePass database and two other I manually created.  When using Get-SecretInfo, it kept finding them.  After a bit of enlightenment, I discovered they were living still in the recycle bin and your module was finding them there.  Any way to disable searching the recycle bin by default or at least provide a parameter to allow the user to skip searching

[2021-01-16 01:40] NJK-HOME opened #10 "Feature Request: Identify secrets by sub-group in a KeePass database"
If I have a "test" entry at the root and another "test" entry in sub-group called "Computers" it complains that there are duplicates.  Is there any way you can provide identification of the secret by the sub-group it lives in?  Even if there are no duplicates - this would be a nice feature to have it identify secrets by location for those of us that organize using sub-groups in a KeePass database.

[2021-01-16 01:50] JustinGrote commented on #10
Yes, it's on the roadmap to make it so that key names will include their folder names, e.g. Financial/Banks/MyBankSecret. The structure of the Keepass API makes this a little difficult to do but it is feasible.

[2021-01-16 01:57] #8 closed

[2021-01-17 00:17] trir262 opened #13 "Feature Request: Add tests for Get-Secret with MasterPassword and Keyfile"
Hey Justin,

OK for you if I add some tests for Get-Secret?

[2021-01-17 00:21] JustinGrote commented on #13
Yep tests are always OK to PR without an issue! I generally only want an issue for feature or main code changes that way may need to discuss so you don't put in a bunch of work on a PR that I will reject for design reasons.

[2021-01-17 23:43] #9 closed

[2021-01-17 23:43] JustinGrote commented on #10
Implemented in #14

[2021-01-17 23:43] #10 closed

[2021-01-18 01:50] NJK-HOME commented on #10
Thank you!

[2021-01-18 01:52] NJK-HOME commented on #9
Thank you!

[2021-01-27 03:08] #13 closed

[2021-02-02 14:26] ReneSchumacher opened #16 "v0.0.9.3 does not support version 2.0 key files"
I've been trying to use the module with a KeePass database secured by a key file with format version 2.0 as recommended by KeePass v2.47. The module fails to connect to the database stating that the composite key is invalid. Switching to format version 1.0 for the key file works.

[2021-02-02 14:29] ReneSchumacher opened #17 "Unable to remove secret"
I'm using v0.0.9.3 of the module and tried to remove a secret from the KeePass database. This fails with error message

`Remove-Secret: Unable to remove secret {mySecret} from vault {myVault}`

Adding and reading secrets works fine. However, running Set-Secret for the same secret twice results ins a duplicate entry. Thus, I wanted to remove the secret first, which isn't working. Is there any way t

[2021-02-02 16:14] JustinGrote commented on #16
Hi @ReneSchumacher, thanks for reporting.

Since that new file format is very new in 2.47, my downstream library I'm using for cross-platform (pt.keepasslib) hasn't reached that version yet, so this is currently unsupported.

https://github.com/panteam-net/pt.KeePassLibStd/discussions/8

I'll leave this issue open until a 2.47 .NET standard library is available to upgrade to.

[2021-02-02 16:32] ReneSchumacher commented on #16
Hey,

that's what I thought. Just wanted to let you know. Switching to 1.0 format is an easy workaround.

[2021-02-02 16:37] JustinGrote commented on #16
@ReneSchumacher if there's an extended period before the new library gets released maybe I'll add a quick check to look for the new format and throw a warning.

[2021-02-02 16:39] JustinGrote commented on #17
@ReneSchumacher The current logic may not find the existing secret based on how pathing works in Keepass. I thought we had test coverage for this but I'll look into it when I get a chance.

Try adding `ShowFullPath=$true` to your vault parameters and see if it still happens with fully qualified names.

[2021-02-02 16:48] ReneSchumacher commented on #17
Nope, doesn't change anything. My database does not have any groups, thus, all secrets are stored at the root level. I tried adding a secret to a group and Get-SecretInfo does indeed show the full path now. Yet, I still get the same error :-(

[2021-02-04 20:26] trir262 commented on #17
I'll take a look. Probably will start by defining a 'default' set of tests prior to handling this issue.

[2021-02-05 19:02] SamLue opened #20 "Conflict when using $credential as Variable in my Script"
If I use $credential as Variablename in my Script before like

[code]
then you get the following error at each Module-Operation

[code]

[2021-02-05 20:12] JustinGrote commented on #20
Thank you for reporting! Surprised that the nested module attempts to remove your variable, I will see if I can scope it more tightly.

[2021-02-05 22:10] JustinGrote commented on #17
@ReneSchumacher so this is a bit tricky, I'm going to work out a way to provide the UUID of the key you want to delete if an ambiguity exists. I'm also waiting on the next RC release for the metadata feature to make this more structured.

For now I'm going to push a change that prevents secret clobbering. The error you are getting is a "generic" one but probably when you are doing remove-secret yo

[2021-02-05 22:21] JustinGrote opened #23 "Better Surfacing of Errors with traps"
Secretmanagement swallows terminating errors giving poor feedback to the user who had to dig into the innerexception to find out what happened.

The error handling needs to instead throw nonterminating errors where appropriate.

[2021-02-05 22:29] ReneSchumacher commented on #17
Thanks, @JustinGrote. Just to clarify: I cannot remove any secret. I deleted the duplicate secrets using KeePass and tried again but the result is always the same.

Still looking forward to the new version and will try again.

[2021-02-05 22:44] JustinGrote commented on #17
I'll evaluate the removal logic as well before I close this issue with a PR

[2021-02-05 23:01] JustinGrote commented on #23
Closed by #24

[2021-02-05 23:01] #23 closed

[2021-02-05 23:06] JustinGrote opened #25 "Add Tests for Remove-Secret"
Prereq for #17

[2021-02-05 23:07] #20 closed

[2021-02-06 23:46] JustinGrote commented on #17
@ReneSchumacher I updated the error exposure to make it more clear what is going on.

I will also be adding a secretinfo filter logic soon to allow you to specify a secret by UUID to resolve this issue.

[2021-02-07 00:46] JustinGrote commented on #25
Closed https://github.com/JustinGrote/SecretManagement.KeePass/commit/47a2003f9c4ef9a12e57a44b54ad9dd1c8db5b18

[2021-02-07 00:47] #25 closed

[2021-02-07 01:44] JustinGrote opened #27 "Create a KeepassConfig Powershell Class to add structure to VaultParameters"

[2021-02-10 15:19] magyarka opened #28 "Get-Secret Does Not Pull Updated Password from KeePass DB"
**_NOTE: Not sure if this is an issue with the SecretManagement.KeePass module or the larger Microsoft.PowerShell.SecretManagement module._**

**Situation:**
- Start PowerShell session that has a KeePass vault registered already
- Store the credentials for one of the KeePass secrets as a variable
Example:
`$testCreds = Get-Secret -Vault testVault -Name 'test-creds'`
- Successfully connect to remot

[2021-02-22 06:34] #27 closed

[2021-02-22 06:36] JustinGrote commented on #16
This is no longer blocked: https://github.com/panteam-net/pt.KeePassLibStd/discussions/8#discussioncomment-390719

I will try to add the feature in the next couple days.

[2021-02-23 21:41] #16 closed

[2021-02-23 21:58] JustinGrote commented on #17
@ReneSchumacher This should be fixed in `0.0.9.4`, let me know if it's fixed so I can close the issue. As far as the secretinfo filter logic I'm waiting for the metadata feature to be added upstream to secretmanagement before purposing it.

[2021-02-23 21:59] JustinGrote commented on #16
@ReneSchumacher Keyfile v2 support should be in 0.0.9.4

[2021-02-24 07:21] ReneSchumacher commented on #17
Great, will test today and give you feedback!

[2021-02-24 08:54] maroliict opened #32 "test functions not working?"
Hi,
Thanks for your contribution to security.
I am testing right now the functionality to use a keepass database for storing sensitive accounts using SecretManagement module.
I am facing a few strange things:

1) register-secretvault -name 'test' -modulename 'SecretManagement.Keepass' -vaultparameters @{
path= c:\blah\blah.kdbx}
If done, no error or whatever is shown, so assuming it is working
get

[2021-02-24 12:13] ReneSchumacher commented on #17
@JustinGrote Removing secrets now works. There's just one more small thing: I'm trying to use KeePass in a non-interactive environment so I cannot react to any confirmation prompts. When trying to remove a secret from a database that doesn't have a recycle bin group, I am prompted to confirm deletion. I've seen that the underlying PoshKeePass does have a NoRecycle switch for this purpose but I'm u

[2021-02-24 17:53] JustinGrote commented on #32
Hi Maroliict,

Can you try using Register-KeePassSecretVault? It provides much better sanity checking.

The secret management team on-purpose decided that register-secretvault will not actually validate your settings for offline scenarios. I don't agree with it but it is what it is :)

[2021-02-24 19:03] maroliict commented on #32
I saw that in your comments to the module. Thanks. I will look into it tomorrow during sprint planning :)

[2021-02-25 15:20] JustinGrote commented on #17
@ReneSchumacher I'll close this issue and put your request on the roadmap

[2021-02-25 15:20] #17 closed

[2021-02-27 14:43] DonPwrShellHunt opened #33 "Syntax question on VerbosePreference in Test-SecretVault"
The following code snippet is from Test-SecretVault.ps1

[code]

I think the proper value would be 'Continue' rather than $true, right?

Interactively I get the following>

PS> ```$VerbosePreference = $true```
MetadataError: Cannot convert value "True" to type "System.Management.Automation.ActionPreference". Error: "Invalid cast from 'System.Boolean' to 'System.Management.Automation.ActionPreferen

[2021-02-27 20:52] JustinGrote commented on #33
@DonPwrShellHunt you are correct! This was a flowdown preference from secretmanagement I only gave a half-effort to, I'll put this on the to-fix list.

[2021-03-09 03:09] user8446 opened #35 "Unlock SecretManagement.KeePass in a script"
Hello,

Currently you are unable to use the module in a script (non-interactively). Is it on the roadmap to be able to unlock in scripts? (for example: `Unlock-KeePassVault -Password $password`).

This is similar issue to: https://github.com/PowerShell/SecretStore/issues/46

Thank you for the talent put into this!

[2021-03-09 16:16] JustinGrote commented on #35
@user8446 There are no plans to support "master key" files in this approach, because then where would you store the master key? Completely defeats the purpose of the secret store.

Instead, for the scripted approach, it is recommended that you use a keyfile-only Keepass vault, and supply the keyfile, either from a protected removable physical medium such as a USB drive, or retrieved from something

[2021-03-10 04:02] JustinGrote commented on #35
@user8446 I'll consider adding it and throwing a warning every time :)

[2021-03-18 03:28] NJK-HOME opened #36 "Get-SecretInfo still shows entries in Recycle Bin"
For some reason, when I use Get-SecretInfo it still shows results from the KeePass recycle bin.  I even tried registering the vault with the explicit "ShowRecyleBin = $false" parameter, and it still finds the entries.  Also, when I try to add a new secret, using the same name as an entry in the recycle bin, that fails as well telling me it is duplicate.  I could have sworn this was fixed with a pr

[2021-03-19 03:38] NJK-HOME opened #37 "Feature Request: Utilize KeePass "History" feature"
I would like to be able to use Set-Secret to update an existing record in KeePass and add the original value to the history list of that record.  Currently, you have to remove the record from Keepass and then re-add it with the same name and new secret any time you want to change it.  If you have a recycle bin setup, it will put the original record there...but I think the history feature is much n

[2021-03-19 20:26] #36 closed

[2021-03-19 20:34] JustinGrote commented on #28
Due to the nature of how keepass works, once you unlock a vault, that vault is persisted in memory for performance, otherwise you have to close and open the vault every single action. I will add a command `Refresh-KeepassSecretVault` that will remove the connection and allow you to get refreshed info.

[2021-03-19 21:40] JustinGrote commented on #28
I figured out a way to have the refresh work  automatically, since keepass persists the database hash of the last on-disk DB it saved.

[2021-03-19 21:42] #28 closed

[2021-03-19 21:46] JustinGrote commented on #35
Per the discussion in the other thread, I will add a Unlock-KeePassSecretVault command that will persist the entered master password as a secure string within the module scope, and will persist until the module is reloaded.

[2021-03-19 22:54] user8446 commented on #35
That's great and I'm looking forward to testing when ready. I was going to send you a coffee but didn't find a link.... ☕

[2021-03-19 23:52] JustinGrote commented on #35
@user8446 you can donate to OTAT :)
https://www.facebook.com/otatpdx/

[2021-03-20 00:00] #35 closed

[2021-03-20 00:25] #33 closed

[2021-03-20 00:37] JustinGrote commented on #37
@NJK-HOME I'll put this on the backlog, it should be doable but it will take a bit of rearchitecture of how the underlying PoshKeePass works. My focus for the first few releases was on the reading of secrets, I can delve more into the writing of secrets soon :)

[2021-03-20 01:08] user8446 commented on #35
Good cause and done :)

[2021-03-20 02:17] NJK-HOME commented on #37
Sounds good.   Thanks for considering it.

[2021-03-25 05:57] tsmarvin opened #44 "Keyfile on UNC path causes error"
Hello,

Thank you for the great module/extension! Unfortunately I believe I may have found a bug.

If you register a vault and use a UNC KeyPath you will receive an error when trying to unlock the vault. Move the key file to the local disk and the error goes away.

I am able to successfully open the database with a UNC key file using the regular keepass client. I'm running Microsoft.PowerShell.Sec

[2021-03-25 06:15] JustinGrote commented on #44
Sure! Pull Requests are always accepted. As a workaround you can map a drive to the UNC path. If I have some time I'll investigate but it's probably something in how resolve-path handles UNC paths.

[2021-04-04 20:19] tsmarvin commented on #44
Hello! My [pull request](https://github.com/JustinGrote/SecretManagement.KeePass/pull/45) is ready for review whenever you have time.
Thank you!

[2021-04-09 16:46] JustinGrote commented on #44
@tsmarvin I haven't forgotten about this, I hope to carve out time to review tomorrow.

[2021-04-11 16:30] #44 closed

[2021-04-18 01:51] tsmarvin opened #47 "Test files in public folder cause error on import."
Hello again!

I believe I've discovered another minor issue. The public test files under `SecretManagement.KeePass\SecretManagement.KeePass.Extension\Public\*.Tests.ps1` cause errors during module import.

I am installing the module by downloading the repository from github (not the PSGallery). Using import-module on the most recent commit to main (11d45c7dafbb3f370521525ee411a9ba9dbdd684) causes

[2021-04-18 03:22] JustinGrote commented on #47
Good catch! I recently upgraded to press so the module loader may have forgotten to exclude the unit tests there.

[2021-04-18 05:31] NJK-HOME opened #48 "Error with "Test-SecretVault" in pre-release 0.9.2"
When attempting to use Test-SecretVault with your latest pre-release of 0.9.2, I get this error:

PS> Test-SecretVault -Name SomeVaultName
Import-Module : The given assembly name or codebase was invalid. (Exception from HRESULT: 0x80131047)
At line:12 char:27
                 $module = Import-Module -Name $ModulePath -PassThru
[code]

[2021-04-19 01:45] JustinGrote commented on #47
Fixed ab83ff6c8476312abbaae300b23c6f02687af10e and released as beta5

[2021-04-19 01:45] #47 closed

[2021-04-19 01:46] JustinGrote commented on #48
Dupe of #47 (fixed)

[2021-04-19 01:46] #48 closed

[2021-04-19 05:50] tsmarvin commented on #47
Thanks again!

[2021-04-20 03:20] NJK-HOME opened #49 "Test-SecretVault still fails in latest beta6 release"
I am still getting errors when trying to use Test-SecretVault:

[code]

[2021-04-20 15:31] JustinGrote commented on #49
Sorry about that, I need to add some post-compile tests to catch this kind of stuff.

[2021-04-20 15:58] JustinGrote commented on #49
Fixed e277af94730717c3fec904be480d2e4870fff3b4 released as Beta7

[2021-04-20 15:58] #49 closed

[2021-04-20 15:59] JustinGrote commented on #32
@maroliict since I can't reproduce I'll go ahead and close this but go ahead and request reopening if you still have the issue.

[2021-04-20 15:59] #32 closed

[2021-05-12 21:09] manojpotluri opened #52 "UNC path to the vault database does not work."
I created a Vault database file on a windows share and tried to register the vault with a unc path and it fails to register.

[2021-05-12 21:13] JustinGrote commented on #52
Hi @manojpotluri,

can you please provide more information, such as the logs or a specific screenshot of the message when it fails to register?

In general UNC paths are not supported currently but they may work in some circumstances, I'd recommend you map a drive and see if that works.

[2021-05-12 22:22] manojpotluri commented on #52
Hello @JustinGrote

Here is the error i am seeing when i try to register a test vault database created on a share location.

![image](https://user-images.githubusercontent.com/453395/118050872-b5d9d780-b345-11eb-8676-e5adecb88ed3.png)

I tried the Mapped Drive suggestion as well and it errors out too
![image](https://user-images.githubusercontent.com/453395/118051373-7f508c80-b346-11eb-9c31-2d2d6c

[2021-05-12 22:24] JustinGrote commented on #52
This looks like something that would be deeper into SecretManagement itself, not my extension. Can you provide the output of
`$error | export-clixml $home\desktop\error.clixml` after running the command and attach the clixml to this issue?

[2021-05-12 22:29] manojpotluri commented on #52
Attaching the Zipped error.clixml file here.  please let me know if you need more information.
[error.zip](https://github.com/JustinGrote/SecretManagement.KeePass/files/6469364/error.zip)

[2021-05-12 22:34] JustinGrote commented on #52
I don't think your system is fully loading the module correctly, your second error is:
![image](https://user-images.githubusercontent.com/15258962/118052344-68ef0480-b337-11eb-8412-66caefc0da27.png)
and the details are:
`Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. The system cannot find the file specif

[2021-05-12 22:43] manojpotluri commented on #52
Hello @JustinGrote
yes i am using powershell 5.1 on a windows 2016 datacenter server, i will try to install PowerShell 7 and see if works.

Thanks,
Manoj.

[2021-05-13 15:07] manojpotluri commented on #52
Hello @JustinGrote
I installed PowerShell version 7 and tried to register a vault with a shared location and it worked :) .

Screenshot:

![image](https://user-images.githubusercontent.com/453395/118145154-e9af0e80-b3d2-11eb-8c6f-d27c6a78a89d.png)

![image](https://user-images.githubusercontent.com/453395/118145240-051a1980-b3d3-11eb-8783-e158613d225e.png)

Thanks for your help in resolving this i

[2021-05-13 15:07] #52 closed

[2021-06-05 13:01] l2aggron opened #56 "Get-Secret can't get a secret from a folder (subgroup)."
Hello!
It looks like you've already worked on a related problem:
https://github.com/JustinGrote/SecretManagement.KeePass/issues/10
I am trying to access a secret in a folder but without success, is it not implemented or am I doing something wrong?
My setup: Win10x64, PS 5.1, database format is KBDX 4.0, created in KeePassXC-2.6.4-Win64.
![image](https://user-images.githubusercontent.com/25399254/1

[2021-06-05 15:40] l2aggron commented on #56
It looks like the problem in compatibility with the database format.
I created a new DB using Register-KeepassSecretVault and I can properly access the secrets in the folders.
I checked the database, it has the format 3.1.
When I created the db using KeePassXC, selecting this format, and registered the storage with the ShowFullTitle and ShowRecycleBin parameters, I can see the secrets, but I can't

[2021-06-05 15:40] #56 closed

[2021-06-05 15:42] JustinGrote commented on #56
@l2aggron thanks for investigating! I honestly have no idea what the format compatibilities are, I've only tested against the latest, I guess I should gate the version for now with a warning.

[2021-07-13 13:12] Callidus2000 opened #57 "Not working in PWSH 7"
The module is not working under Powershell 7, which is a known bug/limitation in the underlying PoSHKeepass module. Maybe a switch to the [ModernKeePassLib](https://www.nuget.org/packages/ModernKeePassLib/) would be a solution...

[2021-07-13 13:25] JustinGrote commented on #57
@Callidus2000 ModernKeePassLib hasn't been updated since 2020 so it doesn't have key features like the new key format. My PoshKeePass is heavily modified from the original.

It's been working fine for me in PS7 but I haven't tested lately, do you have a specific error message or stacktrace rather than "it's no working?" :)

[2021-07-13 14:01] Callidus2000 commented on #57
Sorry, please ignore the issue. Somehow my session was corrupt, in a fresh pwsh session the error does not occure.

That was the error message I got:
[code]
![image](https://user-images.githubusercontent.com/73584079/125465155-5a1c87d7-bd36-4610-8508-60a4d99ea61a.png)

[2021-07-13 14:01] #57 closed

[2021-07-13 15:13] Callidus2000 commented on #57
Thanks for the information.. The fun never stops ;-)

[2021-07-25 08:12] Callidus2000 opened #58 "Design questions before contributing"
Hi,
I'd like to contribute to your project and I've got two design questions before starting the fork and the coding:
- Would it be ok to add PSFramework as a dependency? The logging framework would be helpful with the runspace model of the new SecretManagement.
- Which branch should be used as a starting point?

Those are the things I'm missing and therefore would like (to try) to add:
- Setting

[2021-07-25 16:07] JustinGrote commented on #58
Hello!

Thanks for your interest. The secretManagement/1.1.0 branch incorporates the new runspace functionality, I haven't had a chance to get back to it for a while to make sure it is stable.

PSFramework would be fine as a dependency if it adds appropriate value as you mention.

[2021-07-27 11:36] Callidus2000 commented on #58
Hi,
that's great. Now I'll see how far I get with my points. The logging framework is already implemented (search'n'replace is easy going for this ;-))

Just as an example here is an excerpt of the auto-generated CSV logfile parsed and piped into Out-GridView from running the pester-tests:
![image](https://user-images.githubusercontent.com/73584079/127146946-073faff8-f450-4ef9-8a7b-cf916aa1a124.pn

[2021-08-04 10:45] #58 closed

[2021-08-23 09:54] Callidus2000 commented on #37
Hi @NJK-HOME
Should work now in the freshly released 0.9.2.

[2021-08-24 00:24] NJK-HOME commented on #37
Yep - looks good so far.  I used Set-Secret on an item and it created a history entry for it.  I used Remove-Secret on another item and it moved it to the recycle bin.  Perfect!  I will do some more testing, but I think this may be what I was looking for.

Excellent work!
Thank
NJK

[2021-08-24 00:28] NJK-HOME commented on #37
I did one more test - created a new item with the same name as one in the recycle bin and it created that new item.  I am pretty sure this is the desired outcome - at least for me.  Maybe others might not want a new item created if it already existed previously, was deleted, and now is in the recycle bin.  But for now, I think that is correct.

Thanks
NJK

[2021-08-24 00:36] NJK-HOME commented on #37
OK - I think I might have found an issue.  When using Set-Secret when there are two items with the same name, one being in the recycle bin, it asks to narrow down which one to update.  If I am not using folders, and have everything in the root, how do I specify a root item?

![image](https://user-images.githubusercontent.com/61813693/130536904-c65b4a13-c84e-4d35-88c3-5dfbfab1784a.png)

Let me know

[2021-08-24 12:38] websta911 opened #62 "inactivity db lock"
Hi,
it seems that the keepass file stays open as long as the Powershell session stays open. I was wondering if there is VaultProperty I did not see  which prompts for the Password after some Inactivity?

thanks
Christoph

[2021-08-27 18:32] sba923 opened #63 "Get-Secret fails to retrieve some secrets listed by Get-SecretInfo"
This should speak for itself:

[code]

In the affected vault, `Get-SecretInfo` lists 85 secrets, this failure occurs for 8 of them:

[code]

I'm running PowerShell 7.1.4 on Windows 10.0.19043.1165.amd64fre.vb_release.191206-1406 with Microsoft.PowerShell.SecretManagement version 1.1.0 and SecretManagement.KeePass version 0.9.1.3

[2021-09-02 03:40] NJK-HOME commented on #37
Hi @Callidus2000 and @JustinGrote
I tested the new beta release and it looks good now.  Thank you so much.  I think this issue can probably be closed if you want.

Thanks,
NJK-HOME

[2021-09-03 15:40] danubie commented on #63
@sba923: It looks like a similar issue I run into.

If you do store an item in Keepass with no (or empty) password, SecretManagement.KeePass would internally return a null-value. This finally seems to be treated as "no secret found" by MS.SecretManagement.

IMHO this is OK. Because afiak the SecretManagement module would generally not allow to set "empty" secrects.

[2021-09-03 17:27] sba923 commented on #63
@danubie thanks for sharing your thoughts

I actually use KeePass to store all kinds of secrets, some of which have an empty "Username" field and/or an empty "Password" field, for instance for software product keys, phone IMEIs....

[2021-09-04 06:53] danubie commented on #63
That's exactly where I got caught: A folder for API keys having "usernames" but no password

[2021-09-23 11:22] ravager-dk opened #64 "Username not returned"
The username should be returned in the metadata for get-secretinfo.

Simply add:

UserName = $PSItem.Username

[2021-11-22 01:47] c3rberus opened #65 "Using Test-SecretVault, can we suppress the password prompt?"
Hello,

This is a great module, was using PoshKeePass for awhile but it does not work with PS7 due to [this](https://github.com/PSKeePass/PoShKeePass/issues/179). This module seems to work just fine as an alternative.

Is it possible to call Test-SecretVault without getting a password prompt when the vault is NOT unlocked?

I want to test (true or false) if a connection is valid, without any passw

[2021-11-25 11:47] iRon7 opened #66 "Can dependencies be trusted?"
We are in a highly secured environment and I am currently in a test phase for `SecretManagement`/`Microsoft.PowerShell.SecretStore`
I did some successful testing with the `SecretManagement.KeePass` (0.9.2) extension on my private machine.
Now we are bringing the items into our environment, it appears that there is an dependency on [PSFramework](https://github.com/PowershellFrameworkCollective/psfr

[2021-11-26 18:48] JustinGrote commented on #66
All the modules are open source, you can review them yourself. You also can "pin" your dependencies so that you never pull a newer version without review.

Otherwise unless you want to sponsor me, this is a "best effort" open source project, it is not a commercial module with a team constantly reviewing and scanning for vulnerabilities.

[2021-11-26 18:48] #66 closed

[2021-11-26 19:06] user8446 commented on #63
Hi,

I just put the API key in the password and a "1" for the username

[2021-11-27 03:49] user8446 commented on #65
What about using `Get-SecretVault` which doesn't require a pw?

[2021-11-27 14:09] iRon7 commented on #66
Hello Justin,

Thanks for the answer.
No offence, I am sure that are only good intentions in your open source project.
The "trust" thoughts where I am dealing with: the owner of the SecretManagement (Microsoft) has quiet a lot to lose if there is a leak somewhere (besides, there are a lot of eyes looking in what they are doing). The responsibility of an opensource writer is a lot less "*All the mo

[2021-11-29 04:45] JustinGrote commented on #66
@iRon7 you are free to not use this module if you do not trust it as a pinned dependency. I'll happily give back the money you paid for it :)

[2021-11-29 08:13] PrzemyslawKlys commented on #66
PSFramework is managed/written by Fred. Fred is working for Microsoft. He's also a trusted member of the PowerShell community. After downloading, review the code, and use Justin's module along with the PSFramework module that you reviewed on your own trusted platform (aka internal PSGallery). This will give you a trust that you only run trusted code (already reviewed). Than every time there's new

[2021-12-09 15:43] user8446 commented on #62
The only way currently I see is unregistering with `Unregister-SecretVault` will lock the db.

[2022-01-06 03:20] user8446 opened #67 "Add donation link to the project"
Hi,

Have you thought about adding a way to donate to the project like with Liberapay, Open Collective, Ko-fi, Patreon, PayPal, etc.?

[2022-01-22 11:57] IonutDanNica opened #69 "How to retrieve secrets from keepass vault with folders (groups)"
Is there any way to browse the hierarchy of keepass folders/groups with this module.
I have secrets that have identical name, but are in different folders.

any idea how to reach them?

Something like this:
![image](https://user-images.githubusercontent.com/14056001/150637601-daff720c-7b2b-4339-9a72-7a7a6d7ada27.png)

[2022-01-24 18:27] JustinGrote commented on #69
Been a while since I've worked on this module but I thought I added a setting that enables secrets to be referenced by their full path.

[2022-01-24 18:41] JustinGrote commented on #67
I have not! I'm not able to contribute a lot of time to it at the moment to justify it, but I might consider it if my schedule opens up! THanks for the thought!

[2022-01-25 12:59] IonutDanNica commented on #69
Hi,

I did some digging and there is this hash parameter it seems that can help with what I need:
ShowFullTitle

Is there a list of supported parameters and their purpose documented somewhere?

thanks

[2022-01-25 16:14] JustinGrote commented on #69
Probably only in code at the moment if it's not in the main README :)

[2022-01-28 05:21] spotlesscoder opened #70 "License"
Hello,

what license are the resources in this repo under?

[2022-01-28 15:28] JustinGrote commented on #70
MIT, sorry I'll get that added.

[2022-01-28 17:26] CodingSpiderFox commented on #70
thx :)

[2022-01-28 20:13] claudio-salvio opened #71 "Accessing information stored in string fields"
Hello

I am referring to the **string fields** that are accessible from the **Advanced tab of Keepass**.
Is there any way to get that information using SecretManagement.KeePass?

Greetings,
Claudio

@JustinGrote Thanks for this useful module ! 🙏

[2022-01-28 21:19] JustinGrote commented on #71
No Functionality for this yet, I could envision it either as completely separate secrets with a suffix to an existing secret, or as an additional metadata property to the existing secret. Probably the latter makes more sense.

[2022-01-30 00:33] firelocklp opened #72 "Add TOTP Support"
Could you add the Support for the TOTP Field in keepass?

Would be really helpful

[2022-03-23 00:24] c3rberus opened #73 "Calling Get-SecretVault, Register-SecretVault or Unlock-SecretVault first time in a new PowerShell session takes longer."
I have been trying to troubleshoot why my script is taking longer to run and have narrowed it down to using the SecretManagement.KeePass module.

I've noticed that on first call to register, unlock and retrieve secrets takes 5+ seconds.

Within the same PowerShell session, if I unregister and re-register/unlock the vault, it executes under a second.

Not sure how to troubleshoot this further, but

[2022-04-25 10:56] djreynolds922 opened #74 "Add a check for $MyInvocation.ScriptName in Test-SecretVault"
Hey Justin,

First off, great work on this! I've made super heavy use of this module and it's been overall great. Something that I've noticed while using it though is that if the databases aren't open while I'm using the SecretManagement module in CommandLine - they ask to be opened even if I'm not looking at the specific database in question.

After digging into this - it looks like SecretManagem

[2022-04-25 12:00] JustinGrote commented on #74
Thanks for the investigation! I probably won't have much time to work on this but if you want to attempt a PR and test I'll absolutely carve out some time to review it.

[2022-09-05 12:25] Callidus2000 opened #75 "Master-Key only queried once, not after a resave of the Keepass file"
### How to reproduce?
- Query a secret (MasterKey is required)
- Save the database file from within the app
- Query the secret again
- An exception is thrown
- To access the database again you have to restart the powershell session or use Unlock-SecretVault

[code]

## Expected behavior
Either use the cached password again or ask for it a second time.

[2022-10-26 11:48] ZanattaMichael opened #76 "Keypass Database not being created on vault registration"
Hello,

I'm having issues with creating keepass databased with the module:
I'm using the Create switch (set to $true) to create the keepass database according to:

https://github.com/JustinGrote/SecretManagement.KeePass/blob/main/SecretManagement.KeePass/Public/Register-KeePassSecretVault.ps1

When running the code, no exceptions are raised. No file is created as well.

**_Sample Code:_**
[code]